@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0; 
$color-fond: #f2f2f2;
$color-grey: rgb(53, 53, 53);
$color-grey2: lighten($color-grey,65%);
$color-grey3: lighten($color-grey,75%);
$font-text: 'roboto', sans serif;
$font-logo-title:'shrikhand', cursive; 

header {

    & h1{
        font-family: $font-logo-title;
       
        font-weight: 900;
    }
    & i{
        padding-right: 10px;
    }    
}

 h2, h3, h5, p,li, div, a {
font-family: $font-text;
}
main{
    
    & h1{
        font-family: $font-logo-title;
        font-size: 1.5rem;
        margin-left: 10px;
    }
    & h5{
        color: rgb(122, 120, 120);
        margin-left: 10px;
    }
}
/* title pour logo ohmyfood */
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 6.25rem;
}

.localisation{
    width: 100%;
    height: 50px;
    background-color: $color-grey2;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* reserv pour la partie reserver de la page accueil*/
.reserv{
    background-color: $color-grey3;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    & h2{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    & p{
        margin-left: 40px;
        color: $color-grey;
    }
}
.logo{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-left: 5Opx;
    background-color: white;
}
/*btn pour le bouton explorer et commander*/
.btn{
    cursor: pointer;
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 20px;
    padding: 0.3rem;
    line-height: 3em;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient(to top left, $color-primary 20%, $color-secondary);
    box-shadow: 2px 8px 8px grey;
    &:hover{
        background: linear-gradient(to top left, $color-primary 10%, $color-secondary);
    }
}
/* nav pour la partie commander page accueil*/
nav {
    background-color:white;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
   & li {
       
       justify-content: space-between;
       width: 95%;
       height: 70px;
    background: $color-grey3;
    border-radius: 30px;
    font-size: 20px;
    
    margin-right: 20px;
    &:hover{
        background-color: $color-grey2;
    }
    & p{
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & i{
        margin-left: 10px;
        font-size: 20px;
    }
}
}
/* partie menu de la page accueil*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card
{
  display: flex;
  border-radius: 20px;
  background-color: white;
  padding-left: 5px;
  width: 95%;
  height: 250px; 
  border: 1px solid blue ;
  
  & a{
text-decoration: none;
color: black;
font-size: 16px;
  }
  &__description{
      cursor: pointer;
      position: relative;
      
    box-shadow: 5px 5px 5px 1px $color-grey2; 
    background: white;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-radius: 10px;
    width: 95%;
    height: 60px;
    margin-left:10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    line-height: normal;
    & h3{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 1px;
        padding-left: 10px;
    } 
  } 
}
.subtitle{
    display: flex;
    justify-content: space-between;

    & p{
        margin-top: 2px;
        margin-bottom: 1px;
        white-space: nowrap;
        font-size: 14px;
        color: rgb(122, 120, 120);
        padding-left: 10px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & span{
        padding-right: 10px;
        color: black;
        font-weight: 900;
    }
}
/* title-menu configuration du coeur provisoire en attendant svg animation*/
.title-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    
    & i{
        margin-right: 20px;
        font-size: 20px;
    }
}
.img-menu{
    object-fit: cover;
    background-size: cover;
    background-position:center;
    
    width: 100%;
    height: 200px;
}

.fond{
    
    background-color: $color-fond;
    border-radius: 3rem 3rem 0 0;
}



.cardimg1{
  object-fit: cover;
  width: 100%;
  height:200px;
  border-radius: 15px 15px 0 0;
}
.list-resto
{
    width: 100%;
    height: 75rem;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.categorie{
    width: 90%;
    & h5{
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: normal;
    }
   
}
.line{
    margin-top: 2px;
    margin-bottom: 32px;
    margin-left:10px;
    width: 50px;
    border-top: 3px solid $color-tertiary;
}

footer{
    background-color: $color-grey;
    color: white;
    width: 100%;
    height: 250px;
    font-size: 18px;
    padding-left: 20px;
    & h3{
        font-family: shrikhand ;
        font-weight: normal;
        padding-top: 20px;
    }
    & i{
        padding-right: 10px;
        width: 1.2rem;
    }
    & ul{
        list-style: none;
        padding-left: 0px;
    }
}

