@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader {
  background-color: #ffff;
  opacity: 0.9;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: disappear 1s;
  animation-delay: 2S;
  animation-fill-mode: forwards;
}

/* animation du loader*/
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.spinner {
  /* creation du spinner*/
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /* placement du loader au milieu de la page */
  margin: auto;
  /* ca va centrer le loader au centre de la page */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* on mettant tout les marges a 0 le loader se trouve en plein milieu de la page */
}

/* animation du spinner*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.grille {
  height: auto;
  display: flex;
  flex-direction: column;
}

.grid-case {
  height: auto;
}
.grid-case h2 {
  padding-left: 40px;
}

header {
  height: auto;
}
header h1 {
  font-family: "shrikhand", cursive;
  font-weight: 900;
}
header i {
  padding-right: 10px;
  font-family: black;
}

header a {
  text-decoration: none;
  font-family: "shrikhand", cursive;
  font-weight: 900;
  color: black;
}

h2, h3, h5, p, li, div, a {
  font-family: "roboto", sans serif;
}

main h1 {
  font-family: "shrikhand", cursive;
  font-size: 1.5rem;
  margin-left: 10px;
}
main h5 {
  color: #7a7878;
  margin-left: 10px;
}
main h2 {
  margin-left: 20px;
}

/* title pour logo ohmyfood */
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 6.25rem;
}

.localisation {
  width: 100%;
  height: 50px;
  background-color: #dbdbdb;
  box-shadow: 3px 0px 3px 0px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localisation i {
  margin-right: 20px;
}
.localisation p {
  padding-right: 40px;
}

/* reserv pour la partie reserver de la page accueil*/
.reserv {
  background-color: #f4f4f4;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reserv h2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.reserv p {
  margin: auto;
  color: #353535;
}

.logo {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-left: 4Opx;
  background-color: white;
}
.logo h1 {
  margin-left: 50px;
}

/*btn pour le bouton explorer et commander*/
.btn {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 200px;
  margin-top: 20px;
  padding: 0.3rem;
  line-height: 3em;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  box-shadow: 2px 8px 8px grey;
}
.btn:hover {
  background: linear-gradient(to top left, #9356DC 10%, #FF79DA);
}

/* nav pour la partie commander page accueil*/
nav {
  background-color: white;
  width: 100%;
  height: 230px;
  border-radius: 5px;
}
nav li {
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #f4f4f4;
  border-radius: 30px;
  font-size: 18px;
  list-style: none;
  margin-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
nav li:hover {
  background-color: #dbdbdb;
}
nav li p {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 0px;
  margin-left: 0px;
  right: 20px;
}
nav li i {
  position: relative;
  left: 60px;
  color: #adacac;
  font-size: 20px;
}
nav li span {
  position: absolute;
  left: 10px;
  border-radius: 30px;
  background: #9356DC;
  font-size: 18px;
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  color: white;
}

/* partie menu de la page accueil*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.menu ul {
  margin: auto;
}

.restaurant__img--new {
  display: flex;
  position: absolute;
  top: 5rem;
  right: 3.7rem;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  color: #2c9c81;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}

.restaurant__img--new2 {
  display: flex;
  position: absolute;
  top: 26.5rem;
  right: 3.7rem;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  color: #2c9c81;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}

.cardimg1 {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  background-position: center;
  padding-top: 10px;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 20px;
  background: white;
  margin-left: 30px;
  width: 90%;
  height: 280px;
  box-shadow: 5px 5px 5px 1px #dbdbdb;
  margin-bottom: 30px;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.card__title {
  position: relative;
  flex-direction: column;
}
.card h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
}
.card p {
  margin-top: 2px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-size: 16px;
  color: #7a7878;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card i {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 24px;
}
.card .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.card .fas:hover {
  opacity: 1;
}

.card__description {
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 5px 1px #dbdbdb;
  background: white;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 10px;
  width: 95%;
  height: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.card__description h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
}
.card__description:hover .card__check {
  margin-right: 0;
  transition: all 1s ease;
}
.card__description:hover .card__check i {
  transform: rotate(360deg);
  transition: transform 0.5s;
}
.card__description:hover .subtitle {
  width: 80%;
  text-overflow: ellipsis;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}
.subtitle p {
  margin-top: 2px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-size: 14px;
  color: #7a7878;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subtitle span {
  display: block;
  padding-right: 10px;
  color: black;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__check {
  display: flex;
  position: absolute;
  background-color: #99E2D0;
  right: 0;
  top: 0;
  width: 20%;
  margin-right: -4.3rem;
  height: 100%;
}
.card__check i {
  cursor: pointer;
  color: white;
  background: #99E2D0;
  font-size: 2rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  margin-left: 1rem;
}

/* title-menu configuration du coeur  dans les pages menu restos provisoire en attendant svg animation*/
.title-menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.title-menu i {
  position: absolute;
  right: 1.5rem;
  top: 35%;
  font-size: 24px;
}
.title-menu .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.title-menu .fas:hover {
  opacity: 1;
}

.img-menu {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0.3;
  right: 0;
  width: 100%;
  height: 230px;
}

.fond {
  background-color: #f2f2f2;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  top: 200px;
}

.fond-accueil {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  position: relative;
  top: 200px;
}

.list-resto {
  width: 100%;
  height: 84rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categorie {
  width: 90%;
}
.categorie h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.line {
  margin-top: 2px;
  margin-bottom: 32px;
  margin-left: 10px;
  width: 50px;
  border-top: 3px solid #99E2D0;
}

footer {
  display: block;
  position: relative;
  top: 200px;
  background-color: #353535;
  color: white;
  width: 83%;
  height: 230px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 40px;
}
footer h3 {
  font-family: shrikhand;
  font-weight: normal;
  padding-top: 20px;
  padding-left: 20px;
}
footer i {
  padding-right: 10px;
  width: 1.2rem;
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer span {
  padding-left: 20px;
}

/* la partie animation arrivé des menus test*/
@keyframes menu {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.menu > div:nth-of-type(2) {
  animation: menu 1s 1.6s both;
}

.menu > div:nth-of-type(3) {
  animation: menu 1s 1.9s both;
}

.menu > div:nth-of-type(4) {
  animation: menu 1s 2.2s both;
}

.menu > div:nth-of-type(5) {
  animation: menu 1s 2.5s both;
}

.container > a:nth-of-type(1) {
  animation: menu 2s 3.3s both;
}

.container > a:nth-of-type(2) {
  animation: menu 2s 3.6s both;
}

.container > a:nth-of-type(3) {
  animation: menu 2s 3.9s both;
}

.container > a:nth-of-type(4) {
  animation: menu 2s 4.2s both;
}

/*# sourceMappingURL=style.css.map */
