@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader {
  background-color: #ffff;
  opacity: 0.9;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: disappear 1s;
  animation-delay: 2S;
  animation-fill-mode: forwards;
}

/* animation du loader*/
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.spinner {
  /* creation du spinner*/
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /* placement du loader au milieu de la page */
  margin: auto;
  /* ca va centrer le loader au centre de la page */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* on mettant tout les marges a 0 le loader se trouve en plein milieu de la page */
}

/* animation du spinner*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* coeur en svg*/
.heart {
  width: 30px;
  position: absolute;
  right: 0.6rem;
  top: 50%;
  color: grey;
}
.heart .main-stop {
  stop-color: #9356DC;
}
.heart .alt-stop {
  stop-color: #FF79DA;
}

.heart--empty {
  z-index: 1;
  stroke: grey;
}

.heart:hover .heart--full {
  opacity: 1;
  transform: scale(1);
}

.heart--full {
  z-index: 2;
  fill: url(#gradient);
  stroke: url(#gradient);
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
}

/*fin de coeur svg*/
.card__description {
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 5px 1px #dbdbdb;
  background: white;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 10px;
  width: 95%;
  height: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.card__description h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__description:hover .card__check {
  margin-right: 0;
  transform: translateX(0%);
  transition: all 0.5s ease;
  text-overflow: ellipsis;
}
.card__description:hover .card__check i {
  transform: rotate(360deg);
  transition: transform 0.3s;
}
.card__description:hover .subtitle {
  width: 80%;
  text-overflow: ellipsis;
}
.card__description:hover h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.card__check {
  display: flex;
  position: absolute;
  background-color: #99E2D0;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.2s;
}
.card__check i {
  cursor: pointer;
  color: white;
  background: #99E2D0;
  font-size: 2rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  margin-left: 1rem;
  transform: rotate(0);
  transition: transform 0.2s;
}

/* la partie animation arrivé des menus test*/
@keyframes menu {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.menu > div:nth-of-type(2) {
  animation: menu 1s 1.6s both;
}

.menu > div:nth-of-type(3) {
  animation: menu 1s 1.9s both;
}

.menu > div:nth-of-type(4) {
  animation: menu 1s 2.2s both;
}

.menu > div:nth-of-type(5) {
  animation: menu 1s 2.5s both;
}

.container > a:nth-of-type(1) {
  animation: menu 2s 3.3s both;
}

.container > a:nth-of-type(2) {
  animation: menu 2s 3.6s both;
}

.container > a:nth-of-type(3) {
  animation: menu 2s 3.9s both;
}

.container > a:nth-of-type(4) {
  animation: menu 2s 4.2s both;
}

body {
  width: 100%;
  margin: 0;
}

.grille {
  height: auto;
  display: flex;
  flex-direction: column;
}

.grid-case {
  height: auto;
}
.grid-case h2 {
  padding-left: 20px;
}

main h1 {
  font-family: "shrikhand", cursive;
  font-size: 1.5rem;
  margin-left: 10px;
}
main h5 {
  color: #7a7878;
  margin-left: 10px;
}
main h2 {
  margin-left: 20px;
}

.fond {
  background-color: #f2f2f2;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  width: 100%;
  height: 1100px;
  margin-right: 0px;
  padding-right: 0px;
  top: 220px;
}

.fond-accueil {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  position: relative;
  top: 200px;
}

.fond-enchantee {
  background-color: #f2f2f2;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  width: 100%;
  height: 1200px;
  margin-right: 0px;
  padding-right: 0px;
  top: 220px;
}

/* nav pour la partie commander page accueil*/
nav {
  background-color: white;
  width: 100%;
  height: 230px;
  border-radius: 5px;
}
nav li {
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #f4f4f4;
  border-radius: 30px;
  font-size: 18px;
  list-style: none;
  margin-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
nav li:hover {
  background-color: #ffdff6;
}
nav li p {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 0px;
  margin-left: 0px;
  right: 20px;
}
nav li i {
  position: relative;
  left: 60px;
  color: #adacac;
  font-size: 20px;
}
nav li span {
  position: absolute;
  left: 10px;
  border-radius: 30px;
  background: #9356DC;
  font-size: 18px;
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  color: white;
}

/* partie menu de la page accueil*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.menu ul {
  margin: auto;
}

/* title pour logo ohmyfood */
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 6.25rem;
}

.localisation {
  width: 100%;
  height: 50px;
  background-color: #dbdbdb;
  box-shadow: 3px 0px 3px 0px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localisation i {
  margin-right: 20px;
}
.localisation p {
  padding-right: 40px;
}

/* reserv pour la partie reserver de la page accueil*/
.reserv {
  background-color: #f4f4f4;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reserv h2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.reserv p {
  margin: auto;
  color: #353535;
}

.logo {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  padding-left: 4Opx;
  background-color: white;
}
.logo h1 {
  margin-left: 50px;
}

.restaurant__img--new {
  display: flex;
  position: relative;
  top: -10rem;
  right: -12rem;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  color: #2c9c81;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}

.restaurant__img--new2 {
  display: flex;
  position: relative;
  top: -10rem;
  right: -12rem;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  color: #2c9c81;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}

.cardimg1 {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  background-position: center;
  padding-top: 10px;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 20px;
  background: white;
  margin-left: 30px;
  width: 90%;
  height: 280px;
  box-shadow: 5px 5px 5px 1px #dbdbdb;
  margin-bottom: 30px;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.card__title {
  position: relative;
  flex-direction: column;
}
.card__title1-2 {
  position: relative;
  flex-direction: column;
  top: -1.6rem;
}
.card h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
}
.card p {
  margin-top: 2px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-size: 16px;
  color: #7a7878;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}
.subtitle p {
  margin-top: 2px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-size: 14px;
  color: #7a7878;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subtitle span {
  display: block;
  padding-right: 10px;
  color: black;
  font-weight: 900;
  overflow: hidden;
}

/* title-menu configuration du coeur  dans les pages menu restos */
.title-menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.img-menu {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0.3;
  right: 0;
  width: 100%;
  height: 230px;
}

.categorie {
  width: 90%;
  height: 50px;
}
.categorie h5 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.line {
  margin-top: 2px;
  margin-bottom: 32px;
  margin-left: 10px;
  width: 50px;
  border-top: 3px solid #99E2D0;
}

/*debut des medias queries*/
@media all and (min-width: 500px) {
  .container-case1 {
    padding-left: 80px;
  }

  .container-case1 h2 {
    margin-left: -60px;
  }
}
@media all and (min-width: 700px) {
  .menu li {
    width: 650px;
  }
  .menu li p {
    padding-left: 150px;
  }

  .container {
    display: grid;
    grid-template-columns: 3.5fr;
  }

  .container-case1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-right: 100px;
    padding-left: 40px;
  }
  .container-case1 h2 {
    position: absolute;
    top: 0;
    margin-left: 0px;
  }
  .container-case1 .restaurant__img--new2 {
    position: relative;
    right: -10rem;
    top: -10rem;
  }
  .container-case1 .restaurant__img--new {
    position: relative;
    right: -10rem;
    top: -10rem;
  }

  .logo {
    padding-left: 40px;
  }

  .title a {
    margin-right: 10rem;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 0px;
  }

  .card {
    margin-top: 60px;
  }
}
@media all and (min-width: 800px) {
  .restaurant__img--new2 {
    position: relative;
    right: -15rem;
    top: -10rem;
  }

  .restaurant__img--new {
    position: relative;
    right: -15rem;
    top: -10rem;
  }
}
@media all and (min-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
  }

  .logo {
    display: flex;
    padding-left: 90px;
  }

  .title a {
    margin-right: 20rem;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 0px;
  }

  .container-case1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    padding-left: 10rem;
  }
  .container-case1 h2 {
    left: 1rem;
  }

  .fond {
    height: 800px;
  }

  .fond-enchantee {
    height: 800px;
  }

  .menud {
    padding-bottom: 80px;
  }

  .btn1 {
    position: relative;
    top: 10rem;
  }

  footer {
    height: 300px;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
  }
}
@media all and (min-width: 1200px) {
  .container-case1 {
    padding-left: 16rem;
  }

  .fond {
    height: 700px;
  }
}
@media all and (min-width: 1400px) {
  .container-case1 {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: auto;
    padding-left: 23rem;
  }

  .btn1 {
    position: relative;
    top: 7rem;
  }

  .title a {
    display: flex;
    margin-left: 0px;
  }

  .fond {
    height: 800px;
  }
}
@media all and (min-width: 1900px) {
  .container-case1 {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: auto;
    padding-left: 40rem;
  }

  .title a {
    margin-left: 0px;
  }

  .logo {
    padding-left: 150px;
  }
}
/* fin media queries*/
h2, h3, h5, p, li, div, a {
  font-family: "roboto", sans serif;
}

/*btn pour le bouton explorer */
.btn {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 200px;
  padding-bottom: 20px;
  padding: 0.3rem;
  line-height: 3em;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  box-shadow: 2px 8px 8px grey;
}
.btn:hover {
  background: linear-gradient(to top left, #9356DC 10%, #FF79DA);
  box-shadow: 4px 10px 10px grey;
}

.btn1 {
  cursor: pointer;
  display: block;
  position: relative;
  top: 1rem;
  margin: auto;
  width: 200px;
  padding-bottom: 20px;
  padding: 0.3rem;
  line-height: 3em;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  box-shadow: 2px 8px 8px grey;
}
.btn1:hover {
  background: linear-gradient(to top left, #9356DC 10%, #FF79DA);
  box-shadow: 4px 10px 10px grey;
}

header {
  height: auto;
}
header h1 {
  font-family: "shrikhand", cursive;
  font-weight: 900;
}
header i {
  padding-right: 10px;
  font-family: black;
}

header a {
  text-decoration: none;
  font-family: "shrikhand", cursive;
  font-weight: 900;
  color: black;
}

footer {
  display: block;
  top: 200px;
  position: relative;
  background-color: #353535;
  color: white;
  width: auto;
  height: auto;
  font-size: 16px;
  padding-left: 20px;
}
footer h3 {
  font-family: shrikhand;
  font-weight: normal;
  padding-top: 20px;
  padding-left: 20px;
}
footer i {
  padding-right: 10px;
  width: 1.2rem;
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer span {
  padding-left: 20px;
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "roboto", sans serif;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
