$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0; 
$color-fond: #f2f2f2;
$color-grey: rgb(53, 53, 53);
$color-grey2: lighten($color-grey,65%);
$color-grey3: lighten($color-grey,75%);
$font-text: 'roboto', sans serif;
$font-logo-title:'shrikhand', cursive;
$color-primary-light:lighten($color-primary,20%);
$color-secondary-light: lighten($color-secondary,20%);
